@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Inter", serif;
    font-style: normal;
}

:root{
    --bg-color:#fff;
    --title-color:#1A1A1A;
    --btn-primary:#7F56D9;
    --btn-color:#fff;
    --btn-bg-color:#6941C6;
    --btn-border-radius: 8px;
    --btn-padding: 12px 20px;
    --border-bottom-color:#090D1F;
    --border-top-color:#090D1F;
    --para-color:#C0C5D0;
    --card-title-color:#6941C6;
    --card-para-color :#667085;

}